.footer {
    display: block;
    background: #E2E6E9;

    .footer-links {
        display: flex;
        width: 100%;
        max-width: 1272px;
        margin: 0 auto;
        padding: 2%;
        color: #2A3846;

        .footer-links-container {
            width: 25%;

            .footer-links-title {
                font-size: 1.2rem;
            }

            .footer-links-list {
                list-style-type: none;
                padding: 0;
                margin-top: 10%;

                li {
                    margin: 2% 0;

                    a {
                        color: #2A3846;
                    }
                }
            }
        }
    }

    .app-footer-section {
        background: #F1F2F4;

        .app-section-container {
            width: 100%;
            max-width: 1272px;
            margin: 0 auto;
            padding: 2%;
            display: flex;

            .download-app {
                width: 50%;
                display: block;

                .download-app-label {
                    font-size: 1.2rem;
                    color: #2A3846;
                }

                .download-app-icon-container {
                    margin-top: 2%;

                    .download-app-icon {
                        width: 22%;
                        margin-right: 2.5%;
                    }
                }
            }

            .opinion {
                width: 25%;
                display: block;
                color: #2A3846;

                .opinion-label {
                    font-size: 1.2rem;
                }

                .opinion-description {
                    display: block;
                    margin-top: 4%;

                    a {
                        text-decoration: underline;
                        color: #125FCA;
                    }
                }
            }

            .social-media {
                width: 25%;
                display: block;
                color: #2A3846;

                .social-media-label {
                    font-size: 1.2rem;
                }

                .social-media-icon-container {
                    display: flex;
                    margin-top: 4%;

                    a {
                        width: 10%;
                        margin-right: 5%;

                        .social-media-icon {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .country-section {
        display: flex;
        width: 100%;
        max-width: 1272px;
        margin: 0 auto;
        padding: 2%;
        color: #2A3846;

        button {
            background: inherit;
            color: inherit;
            border: 0;

            .country-icon {
                width: 25px;
            }

            .country-label {
                padding: 0 6px;
            }
        }

        button:hover {
            color: #125FCA;
        }

        .country-item {

            .country-item-link {
                display: flex;
                align-items: center;
                color: #2a3846;
                padding: 6px 0;
                position: relative;
                text-decoration: none;

                .country-item-icon {
                    height: 16px;
                    width: 24px;
                }

                .country-item-label {
                    margin: 0 0 0 8px;
                }
            }

            .country-item-link:hover {
                color: #125FCA;
            }
        }

        .web-stamps{
            display: flex;
            align-items: center;
            width: 100%;
            padding: 12px;
            justify-content: flex-end;

            .mastercard-icon {
                margin-left: 32px;
                width: 7%;
            }

            .visa-icon {
                margin-left: 32px;
                width: 7%;
            }

            .safekey-icon {
                margin-left: 32px;
                width: 7%;
            }

            .paypal-icon {
                margin-left: 32px;
                width: 9%;
            }

            .confianza-icon {
                margin-left: 32px;
                width: 4%;
            }
        }
    }
}
