.header {
    background: #FFF;
    width: 100%;

    .app-container {
        width: 100%;
        max-width: 1272px;
        position: relative;
        margin: 0 auto;
        padding: 22px 1% 10px;

        .app-row {
            display: flex;
            width: 100%;

            .logo-container {
                width: fit-content;

                .app-logo {
                    width: 140px;
                }
            }

            .header-links {
                width: inherit;
                padding-top: 10px;

                .login-link {
                    padding-right: 3%;
                    float: right;
                    color: #125FCA;
                }

                .register-link {
                    padding-right: 3%;
                    float: right;
                    color: #125FCA;
                }

                .my-account-link {
                    padding-right: 3%;
                    color: #125FCA;
                }

                .my-account-link2 {
                    padding-right: 3%;
                    color: white;
                }

                .help-link {
                    float: right;
                    color: #125FCA;
                }

                .dropdown {
                    position: absolute;
                    width: 100px;
                    right: 100px;
                    display: inline-block;
                }

                .dropdown-content {
                    width: 200px;
                    display: none;
                    position: absolute;
                    background-color: #f9f9f9;
                    min-width: 160px;
                    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
                    padding: 12px 16px;
                    z-index: 1;
                    a {
                        color: #333;
                        font-weight: bold;
                    }
                }

                .dropdown:hover .dropdown-content {
                    display: block;
                }

                .dropdown2 {
                    position: absolute;
                    width: 100px;
                    right: 150px;
                    display: inline-block;
                }

                    .white-colored {
                        color: white;
                    }

                .dropdown2-content {
                    width: 200px;
                    display: none;
                    position: absolute;
                    background-color: #f9f9f9;
                    min-width: 160px;
                    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
                    padding: 12px 16px;
                    z-index: 1;

                    a {
                        color: #333;
                        font-weight: bold;
                    }
                }

                .dropdown2:hover .dropdown2-content {
                    display: block;
                }
            }
        }
    }
}
