.delivery-address-container {
    max-width: 340px;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 0 0 1px #e2e6e9;
    margin: 0 auto;
    padding: 32px 32px 48px;
    text-align: left;
    color: #333;

    .delivery-address-title {
        font-size: 1.5rem;
        line-height: 1.7rem;
    }

    .delivery-address-name {
        margin-top: 15px;

        .change-user-link {
            text-decoration: underline;
            color: #125FCA;
        }
    }

    .delivery-address-label-container {

        .delivery-address-label {

        }
    }
}

.button{
	background-color: darkorange;
	font-weight: bold;
	margin-top: 15px;
	height: 150%;
}

.form-square{
	margin-bottom: 5px;
	width: 100%;
	height: 100%;

	.form-square-text{
		width: 95%;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.form-square-pin{
		width: 15%;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.form-square-card{
		padding-top: 5px;
		padding-bottom: 5px;
	}
}



.form-text{
	margin-top: 10px;
}

.text-centered{
	text-align: center;
}

.dropdown-stuff{
	background-color: white;

}

.enquadrat{
	border-top: thin solid gray;
	border-bottom: thin solid gray;
	padding-top: 5px;
	padding-bottom: 5px;
}

.buffer-title{
	margin-top: 20px;
}
