.addresses-container{
    margin-left: 60%;
    margin-top: 5%;
    width: 100%;

    .title{
        font-size: 1.5rem;
    }

    .info-text{
        border-bottom: 1px solid #e2e6e9;
        color: rgb(73, 70, 70);
        padding-bottom: 3%;
    }

    .addresses{
        border-bottom: 1px solid #e2e6e9;
        margin-top: 4%;

        .link-edit{
            color: dodgerblue;
            text-decoration: none;
            float: right;
        }

        .link-edit:hover{
            text-decoration: underline;
        }

        .name-address{
            color: rgb(73, 70, 70);
            padding-bottom: 1%;
            margin-top: 2%;
            width: 60%;
        }

        .link-delete{
            color: red;
            text-decoration: none;
            clear: right;
            float: right;
        }

        .link-delete:hover{
            text-decoration: underline;
        }
    }
}