

@font-face{
	font-family: "Just-Eat";
	src: url("https://d30v2pzvrfyzpo.cloudfront.net/fonts/JustEatBasis-Regular-optimised.woff2");
}

body{
	font-family: "Just-Eat"
}

header, nav, footer, section{
	display: block;
}

a:hover{
	text-decoration: underline;
}

h4{
	color: gray;
}

div{
	display: block;
}

*, :before :after{
	box-sizing: inherit;
}

.page-section{
	width: 100%;
	min-width: 300px;
    max-width: 1272px;
    margin: 0 auto;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 100%;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 100%;
}

header{
	min-height: 76px;
}

.head-logo-img{
	position: absolute;
	left: 0;
}

.head-logo-img img{
	width: 200px;
	height: auto;
}

.header-nav{
}

.user-panel{
	position: absolute;
	right: 0;
}

.user-panel-elements li{
	list-style-type: none;
	display: inline-block;
	color: mediumblue;
	padding: 12px 16px;
}

a{
	color: mediumblue;
	text-decoration: none;
	text-align: center;
}

.food-types{
	position: relative;
	margin-top: -4px;
	position: relative;
	padding-bottom: 16px;
	padding: 0;
	overflow: hidden;
}

.food-types p{
	color: darkgray;
}

.header-filters{
	display: flex;
	justify-content: center;
}

.food-type-container{
	border: 1px solid lightgray;
	border-radius: 10px;
	overflow: hidden;
	width: 12.5%;
	margin: 0 5px;
}

.food-type-image-container{
	height: 64px;
    width: 100%;
    overflow: hidden;
}

.food-type-container a{
	color: black;
	text-decoration: none;
	text-align: center;
}

.food-type-image-container img{
    transform: translate(-25%,-25%);
}

.main-section{
	background-color: whitesmoke;
	min-height: 76px;
	display: flex;
}

.filters-section{
	max-width: 30%;
	padding: 5px;
	padding-top: 15px;
}

.adress-chooser{
	background-color: rgb(230, 230, 230);
	display: flex;
	vertical-align: top;
	padding: 15px;
	margin-bottom: 25px;
}

.adress-chooser img{
	padding-top: 2px;
}

.adress-chooser h3{
	font-size: 16px;
	margin-top: 0;
}

.adress.chooser a{
	margin: 10px;
}

.food-chooser{
	width: 100%;
}

.filters-chooser-head{ 
	display: flex;
	justify-content: space-between;
	align-content: middle;
	margin-top: 10px;
	margin-bottom: 10px;
}

.filters-chooser-head p{
	margin: 0;
	padding: 0;
}

.food-chooser-types{
	display: flex;
	flex-direction: column;
}

.food-chooser-container{
	background-color: white;
	border: 1px solid lightgray;
	border-radius: 7.5px;

	display: flex;
	justify-content: space-between;
	padding: 0.5em;
	margin-bottom: 10px;
}

.food-chooser-container p{
	margin: 0;
	color: black;
}

.food-chooser-container a{
	text-decoration: none;
	color: black;
}

.food-chooser-extend-button{
	width: inherit;
	border-style: none;
	background-color: whitesmoke;
	font-size: inherit;
}

.food-chooser-extend-button p{
	margin: 0;
	margin-right: 10px;
}

.food-chooser-extend-button div{
	display: flex;
	justify-content: center;
}

.filters-chooser{
	width: 100%;
}

.filters{
}

.filters-container{
	background-color: white;
	border: 1px solid lightgray;
	border-radius: 7.5px;

	display: flex;
	justify-content: space-between;
	padding: 0.5em;
	margin-bottom: 10px;
}

.results-section{
	width: 1300px;
	max-width: 70%;
	padding-top: 15px;
}

.search-bar{
	width: fit-content;
	padding: 0 5px 0 0;
	background-color: lightgray;
	border: none;
	border-radius: 4px;
}

.search-bar input[type="image"]{
	vertical-align: middle;
	padding: 10px;
}

.search-bar input[type="search"]{
	display: inline-block;
	width: fit-content;
	padding: 10px;
	font-size: 18px;
	border: none;
	background-color: lightgray;
}

.search-header{
	vertical-align: middle;
	display: flex;
	justify-content: space-between;
}

.search-header ul{
	padding-right: 10px; 
	display: list-item;
	list-style-type: none;
}

.search-results-open{
	display: flex;
	flex-direction: column;
}

.restaurant-card {
	border: 1px solid gray;
	background-color: white;
	padding: 4px;
	padding-top: 8px;
	margin-bottom: 16px;
	width: inherit;
}

.restaurant-card a{
	color: black;
	text-decoration: none;
	display: flex;
	vertical-align: middle;
	justify-content: space-around;
}

.restaurant-photos{
	width: 20%;
	height: 87px;

	margin-bottom: 25px;
	margin-right: 20px;

	display: inline-block;
	position: relative;
}

.restaurant-cover-page{
	width: 87.5%;
	height: 100%;
	border: 1px solid lightgray;
	border-radius: 5px;
	overflow: hidden;

	position: absolute;
	left: 0;
}

.restaurant-cover-page img{
	width: 100%;
	height: 100%;
}

.restaurant-logo{
	background-color: black;
	width: 65px;
	height: 70%;
	border: 1px solid lightgray;
	border-radius: 5px;
	overflow: hidden;

	position: absolute;
	top: 15%;
	bottom: 15%;
	right: 0;
}

.restaurant-logo img{
	width: 100%;
	height: 100%;
}

.restaurant-info{
	max-width: 35%;
	max-height: 100%;
	text-align: left;
	padding-top: 10px;
	margin-right: 20px;

}

.restaurant-info h3{
	margin: 0;
	margin-bottom: 5px;
}

.restaurant-info p{
	margin: 0;
}

.restaurant-rate{
	color: orange;
	display: flex;
}

.restaurant-rate p{
	color: black;
	margin-left: 5px;
}

.delivery-info{ 
	width: 34%;
	text-align: left;
}

.delivery-offer{
	width: 100%;
	color: orange;
}

.delivery-price{
	width: 100%;
	color: black;
}

.delivery-time{
	width: 100%;
	color: green;
}

.sponsored-box{
	width: 10%;
	height: 100%;
}

footer{
	background: lightgray;
}

.footer-links{
	display: flex;
	justify-content: space-around;
}

.footer-links-conatiner{
	margin-right: 7.5%;
	margin-left: 5px;
}

.footer-links-list{
	list-style-type: none;
	padding: 0;
	margin-top: 5px;
}

.footer-links-list li{
	margin-top: 7.5px;
	margin-bottom: 7.5px;
}

.footer-links-list a{
	font-size: 14px;
	color: black;
}

.country-section{
	display: flex;
	justify-content: space-between;
	align-content: middle;
}

.country-chooser{
	width: inherit;
	border-style: none;
	background-color: lightgray;
	font-size: inherit;
	padding: 20px;
}

.country-chooser p{
	margin: 0;
	margin-right: 10px;
}

.country-chooser div{
	display: flex;
}

.web-stamps{
	display: flex;
	justify-content: space-around;

	vertical-align: middle;
	width: 100%;
	padding: 20px;
}

.web-stamps span{
	height: 30px;

}

.web-stamps img{
	height: inherit;
	width: auto;
}
